

/* Quicksand, Montserrat, Poppins */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.no-scroll {
    overflow: hidden;
}

/* Header */
.header-wrapper {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem 7rem;
    background-color: rgba(22, 22, 22, 0.51);
    color: #fff;
    z-index: 6;
}

.nav-menu ul {
    display: flex;
    gap: 5.5rem;
    list-style: none;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
}

.nav-menu ul li {
    position: relative;
}

.nav-menu ul li::after {
    content: "";
    display: block;
    margin: 0;
    position: absolute;
    left: 0;
    /* bottom: 0; */
    width: 0;
    /* height: 2.5px; */
    height: 3px;
    background: #F9A825;
    cursor: pointer;
    opacity: 0;
    transition: width 0.5s ease, opacity 0.5s ease;
}

.nav-menu ul li:hover::after {
    width: 100%;
    opacity: 1;
}

.nav-menu li a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.nav-menu li a:hover {
    color: #f1e7d5;
    text-decoration: none;
}

.header-wrapper .bx {
    display: none;
}

/* Hero Banner */
.hero-banner {
    position: relative;
    /* top: 0;
    left: 0; */
    margin: 0;
    width: 100%;
    height: 641px;
    /* height: 100vh; */
    background-image: url(../img/hero_banner.png);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    object-fit: cover;
    z-index: 1;
}

/* Hero Banner Overlay */
.hero-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 641px;
    background: linear-gradient(to right, rgba(22, 13, 2, 0.7) 49%, rgba(50, 57, 151, 0.2) 80%);
    z-index: -1;
}

.banner-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 59%;
    height: inherit;
    /* padding: 7rem; */
    /* padding: 9.5rem 7rem 7rem; */
    /* padding: min(9.5rem, 8%) min(7rem, 5%) 3rem; */
    padding: clamp(6rem, 9.5rem, 12vw) clamp(1rem, 7rem, 10vw);
    z-index: 1;
}

.banner-content h1 {
    /* color: rgb(255, 209, 128); */
    color: #FFD180;
    font-family: "Quicksand", sans-serif;
    /* font-size: 4.3rem; */
    font-size: clamp(1rem, calc(5vw + 1rem), 4.3rem);
    font-weight: 900;
    letter-spacing: 1px;
    line-height: 1.1;
    padding: 0;
}

.banner-content p {
    color: #fff;
    font-family: "Quicksand", sans-serif;
    /* font-size: 1.8rem; */
    font-size: clamp(0.5rem, calc(1.5vw + 1rem), 1.5rem);
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 1.2rem;
}

.cta-btn {
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
}

.cta-btn a {
    font-size: clamp(1rem, calc(1.5vw + 1rem), 1.2rem);
    text-decoration: none;
    color: #FFD180;
    padding: 0.5rem 0.8rem;
    border: 1px solid #fff;
    border-radius: 0.3rem;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    transition: 0.5s;
}

.cta-btn a:hover {
    font-weight: 600;
    color: #221b1b;
    background-color: #FFF0BF;
    border: none;
}

/* .cta-btn hr {
    border-left: .1cqh solid #fff;
} */

/* Main */
.delivery-wrapper {
    position: relative;
    width: 100%;
    min-height: 80px;
    margin: 0 auto;
    /* background-color: rgb(255, 254, 247); */
    background-color: #fffaf0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .8rem;
    text-align: center;
    padding: 3rem 7rem;
    font-family: "Quicksand", sans-serif;
}

.delivery-wrapper h2 {
    font-size: 2rem;
    color: #1f1a0b;
    font-weight: 650;
    letter-spacing: 1px;
    /* margin-bottom: 2rem; */
}

.delivery-wrapper .line {
    height: 2px;
    width: 4.5rem;
    background-color: #221e1b;
    margin-top: .5rem;
}

.delivery-wrapper .img-delivery {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}

.delivery-wrapper img {
    width: 278px;
    max-width: 100%;
    /* height: auto; */
    height: 80px;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}

.about-us-wrapper {
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background-color: rgb(255, 254, 247);
    padding: 3rem 7rem;
}

.about-left {
    position: relative;
    flex: 36%;
}

.about-right {
    position: relative;
    flex: 64%;
    padding-left: 3rem;
}

.about-main-img {
    position: relative;
    width: 100%;
    z-index: 2;
    border-radius: 10px;
}

.about-shadow-img {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 0.2;
    filter: blur(3px);
    transform: translateX(-23rem) translateY(3rem);
    border-radius: 10px;
    pointer-events: none;
}

.about-right h3 {
    font-size: 2.2rem;
    font-family: "Quicksand", sans-serif;
    margin-bottom: 1rem;
}

.about-right p {
    color: #221b1b;
    font-size: 1.2rem;
    font-weight: 510;
    font-family: "Quicksand", sans-serif;
    text-align: justify;
    margin-bottom: 2rem;
}

/* FFD180 */
/* 221b1b */
/* 301E1E */

.about-right a {
    color: #fff;
    font-weight: 500;
    background-color: #53382a;
    font-family: "Poppins", sans-serif;;
    text-decoration: none;
    padding: .8rem .5rem .8rem 1rem;
    /* border: 1px solid #FFD180; */
    border-radius: 3px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.about-right a:hover {
    color: #53382a;
    background-color: #FFD180;
}

.about-right a i{
    font-size: 1.8rem;
    vertical-align: middle;
}

/* Media Queries */
/* @media (min-width: 1334px) {
    .hero-banner::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 641px;
        background: linear-gradient(to right, rgba(22, 13, 2, 0.7) 49%, rgba(50, 57, 151, 0.2) 80%);
        z-index: -1;
    }
} */
@media (max-width: 1016px) {

    .header-wrapper {
        position: absolute;
        padding: 1.5rem 4rem;
        background-color: transparent;
    }

    .header-wrapper h2 {
        font-size: 2rem;
    }
    
    .nav-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        padding: 5rem 5rem;
        background-color: #FFF0BF;
        /* background-color: #FFD180; */
        z-index: 5;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        opacity: 0;
        pointer-events: none;
        transition: transform 0.5s ease, opacity 0.5s ease;
        overflow-x: hidden;
    }

    .nav-menu.show {
        transform: translateX(0);
        opacity: 1;
        pointer-events: auto;
    }

    .bx {
        position: absolute;
        top: 0;
        right: 0;
        padding: 1.5rem 4rem;
        font-size: 2.5rem;
        cursor: pointer;
    }

    .header-wrapper .bx {
        display: block;
    }

    .nav-menu .bx-x {
        color: #221b1b;
        transition: 0.5s ease;
    }

    .nav-menu .bx-x:hover {
        color: #F9A825;
    }

    .header-wrapper .bx-menu {
        color: #fff;
    }

    .nav-menu ul {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding: 2rem 7rem;
        text-align: center;
        /* background-color: black; */
        font-size: 1.5rem;
        font-weight: 700;
    }

    .nav-menu li a {
        color: #221b1b;
        text-decoration: none;
        transition: 0.5s ease;
    }

    .nav-menu ul li:hover::after {
        width: 0;
    }

    .nav-menu li a:hover {
        color: #F9A825;
    }
}

@media (max-width: 1348px) {

    .hero-banner::before {
        background: rgba(22, 13, 2, 0.7);
    }

    .banner-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        gap: 0.8rem;
        width: 90%;
        height: 641px;
        z-index: 1;
        /* width: 90%;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center; */
    }

    .cta-btn {
        justify-content: center;
    }
}

@media (max-width: 517px) {

    .banner-content {
        gap: 0.5rem;
    }

    .banner-content h1 {
        font-size: clamp(1rem, calc(4.5vw + 1rem), 2.5rem);
    }

    .bx {
        font-size: 2rem;
    }
}

@media (max-width: 500px) {

    .banner-content p {
        margin-bottom: 0.8rem;
    }

    .cta-btn {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .cta-btn hr {
        border: none;
    }

    .cta-btn a {
        border-radius: 1.5rem;
    }
}

@media  (max-width: 473px) {

    .header-wrapper {
        padding: 1.75rem 2rem;
    }

    .header-wrapper h2 {
        font-size: 1.5rem;
    }

    .bx {
        padding: 1.6rem 2rem;
    }
    
    .banner-content h1 {
        font-size: clamp(1.6rem, calc(4vw + 1rem), 2.5rem);
        letter-spacing: -0.5px;
    }

    .banner-content p {
        font-size: clamp(0.5rem, calc(1vw + 1rem), 1.8rem);
        letter-spacing: 0;
    }

    .cta-btn a {
        font-size: clamp(0.5rem, calc(1vw + 1rem), 1rem);
    }
}

@media (max-width: 374px) {

    .banner-content h1 {
        font-size: clamp(1.2rem, calc(3.5vw + 1rem), 2.5rem);
    }

    .banner-content p {
        font-size: clamp(0.2rem, calc(1vw + 1rem), 1rem);
    }

    .cta-btn a {
        font-size: clamp(0.1rem, calc(1vw + 0.8rem), 1rem);
    }
}